<section class="amenities section">
  <div class="container">
    <h2 class="amenities-header">ЗРУЧНОСТІ У НОМЕРІ</h2>
    <p class="amenities-text">
      У двомісному номері люкс готелю "Міміно" гості зможуть насолоджуватися великою кількістю зручностей, що забезпечать їхній комфорт та задоволення під час перебування в готелі.
    </p>
    <ul class="amenities-list">
      <li class="amenities-item">
        <h3 class="amenities-title">ЗАГАЛЬНІ</h3>
        <div class="amenities-item-content">
          <p class="amenities-text">
            Загальні зручності в номері включають кондиціонер для зручності наших гостей під час теплих днів або прохолодних ночей. Також в номері є безкоштовний Wi-Fi, щоб гості могли залишатися на зв'язку з рідними та близькими, а також вести робочі справи. 
          </p>
          <p class="amenities-text">
            Робочий стіл дозволить зручно працювати або планувати свій день. У номері є праска та прасувальна дошка, що допоможуть зберегти нашим гостям час та зробити їхні речі виглядати більш привабливо.
          </p>
        </div>
      </li>
      <li class="amenities-item">
        <h3 class="amenities-title">ВАННА КІМНАТА</h3>
        <div class="amenities-item-content">
          <p class="amenities-text">
            У ванній кімнаті номера люкс є гідромасажна ванна, душ та фен, щоб гості могли насолоджуватися розкішчю водних процедур.
          </p>
          <p class="amenities-text">
            В номері надаються м'які халати та тапочки, а також безкоштовні туалетні засоби, щоб гості могли відчувати себе затишно та комфортно.
          </p>
        </div>
      </li>
      <li class="amenities-item">
        <h3 class="amenities-title">СПАЛЬНЯ</h3>
        <p class="amenities-text">
          У спальні гості можуть насолоджуватися великим двоспальним ліжком з ортопедичним матрацем та постільною білизною високої якості.
        </p>
      </li>
      <li class="amenities-item">
        <h3 class="amenities-title">КУХНЯ</h3>
        <div class="amenities-item-content">
          <p class="amenities-text">
            Кухня в номері обладнана холодильником, електричним чайником та кавоваркою, що дозволить гостям зручно готувати чай або каву, а також зберігати їжу та напої.
          </p>
          <p class="amenities-text">
            У кухні є всі необхідні посуд та столові прибори, щоб гості могли приготувати смачний сніданок, обід чи вечерю.
          </p>
        </div>
      </li>
      <li class="amenities-item">
        <h3 class="amenities-title">МЕДІА</h3>
        <p class="amenities-text">
          Медіа-зручності в номері включають телевізор з плоским екраном та кабельними каналами, щоб гості могли розважатися та відпочивати в зручний час.
        </p>
      </li>
    </ul>
    <div class="amenities-buttons">
      <button class="amenities-btn js-open-modal" type="button" data-modal="2">
        ОФОРМИТИ БРОНЮВАННЯ
      </button>
      <a class="amenities-link" href="./hotel.html"
        >Повернутися до перегляду номерів
        <svg class="amenities-link-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-arrow-right"></use></svg
      ></a>
    </div>
  </div>
</section>
