<section class="hotel-section-lux">
  <div class="container lux">
    <!-- текст и картинка в общем диве-->

    <div class="hotel-lux-title-img">
      <div class="hotel-lux-title-block">
        <p class="hotel-lux-min-text">Номер люкс "Два серця"</p>
        <p
          class="hotel-lux-mimino text--turning"
          data-splitting="chars"
          data-animation="innerAnimated"
        >
          mimiho
        </p>
        <h2 class="hotel-lux-title">ДВОМІСНИЙ НОМЕР Люкс</h2>
        <p class="hotel-lux-text">
        включає в себе простору спальну кімнату з великим двоспальним ліжком, ванну кімнату з душем та гідромасажною ванною, зручну вітальню та куточок для їжі. У номері також є кондиціонер, телевізор, безкоштовний Wi-Fi та всі необхідні зручності для вашого комфорту.
        </p>
      </div>

      <picture>
        <source
          srcset="
            ./img/hotel/lux/desk-lux-room-1x-min.jpg 1x,
            ./img/hotel/lux/desk-lux-room-2x-min.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/hotel/lux/tab-lux-room-1x-min.jpg 1x,
            ./img/hotel/lux/tab-lux-room-2x-min.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./img/hotel/lux/mob-lux-room-1x-min.jpg 1x,
            ./img/hotel/lux/mob-lux-room-2x-min.jpg 2x
          "
          media="(max-width: 1023px)"
        />
        <img
          src="./img/hotel/lux/mob-lux-room-1x-min.jpg"
          alt="lux room"
          width="244"
          height="320"
          class="lux-img fadeInLeft"
          data-animation="innerAnimated"
        />
      </picture>
    </div>

    <!--------слайдер + кнопки ---------->

    <!--------слайдер---------->
    <div class="hotel-lux-slider-btn">
      <div class="swiper hotel-lux-swiper">
        <ul class="hotel-lux-swiper-wrapper swiper-wrapper">
          <li class="swiper-slide ">
            <picture>
              <source
                srcset="
                  ./img/hotel/lux/mob-lux-3-room-1x-min.jpg 1x,
                  /img/hotel/lux/mob-lux-3-room-2x-min.jpg  2x
                "
                media="(max-width: 1023px)"
              />
              <source
                srcset="
                  ./img/hotel/lux/tab-lux-3-room-1x-min.jpg 1x,
                  ./img/hotel/lux/tab-lux-3-room-2x-min.jpg 2x
                "
                media="(min-width: 1024px)"
              />

              <source
                srcset="
                  ./img/hotel/lux/desk-lux-3-room-1x-min.jpg 1x,
                  ./img/hotel/lux/desk-lux-3-room-2x-min.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <img
                srcset="
                  ./img/hotel/lux/mob-lux-3-room-1x-min.jpg 1x,
                  ./img/hotel/lux/mob-lux-3-room-2x-min.jpg 2x
                "
                src="./img/hotel/lux/mob-lux-3-room-1x-min.jpg"
                alt="Простора вітальня із великим диваном"
                width="194"
                height="194"
                class="lux-slider-img"
              />
            </picture>
          </li>
          <li class="swiper-slide ">
            <picture>
              <source
                srcset="
                  ./img/hotel/lux/desk-lux-b-room-1x-min.jpg 1x,
                  ./img/hotel/lux/desk-lux-b-room-2x-min.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/hotel/lux/tab-lux-b-room-1x-min.jpg 1x,
                  ./img/hotel/lux/tab-lux-b-room-2x-min.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./img/hotel/lux/mob-lux-b-room-1x-min.jpg 1x,
                  ./img/hotel/lux/mob-lux-b-room-2x-min.jpg 2x
                "
                media="(max-width: 1023px)"
              />
              <img
                srcset="
                  ./img/hotel/lux/mob-lux-b-room-1x-min.jpg 1x,
                  ./img/hotel/lux/mob-lux-b-room-2x-min.jpg 2x
                "
                src="./img/hotel/lux/mob-lux-b-room-1x-min.jpg"
                alt="lux-room"
                width="194"
                height="194"
                class="lux-slider-img"
              />
            </picture>
          </li>
          <li class="swiper-slide  ">
            <picture>
              <source
                srcset="
                  ./img/hotel/lux/desk-lux-a-room-1x-min.jpg 1x,
                  ./img/hotel/lux/desk-lux-a-room-2x-min.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/hotel/lux/tab-lux-a-room-1x-min.jpg 1x,
                  ./img/hotel/lux/tab-lux-a-room-2x-min.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./img/hotel/lux/mob-lux-a-room-1x-min.jpg 1x,
                  ./img/hotel/lux/mob-lux-a-room-2x-min.jpg 2x
                "
                media="(max-width: 1023px)"
              />
              <img
                srcset="
                  ./img/hotel/lux/mob-lux-a-room-1x-min.jpg 1x,
                  ./img/hotel/lux/mob-lux-a-room-2x-min.jpg 2x
                "
                src="./img/hotel/lux/mob-lux-a-room-1x-min.jpg"
                alt="lux-room"
                width="194"
                height="194"
                class=" lux-slider-img"
              />
            </picture>
          </li>
        </ul>
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev h-lux-prev">
          <svg width="32" height="32">
            <use href="./img/icons.svg#icon-arrow-left"></use>
          </svg>
        </div>
        <div class="swiper-button-next h-lux-next">
          <svg width="32" height="32">
            <use href="./img/icons.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </div>

      <!-------- кнопки ---------->

      <ul class="hotel-lux-btn-list">
        <li>
          <a href="./room_lux.html" class="hotel-lux-btn link">Детальніше</a>
        </li>
        <li>
          <button
            class="hotel-lux-btn js-open-modal"
            type="button"
            data-modal="3"
          >
            Переглянути ціни
          </button>
        </li>
      </ul>
    </div>

    <!-------------->
  </div>
</section>
