<footer class="footer">
  <div class="footer-container container">
    <div class="div-mimino">
      <a class="mimino-logo-footer" href="../index.html"> MIMIHO </a>


      <div class="footer-nav-soc">
        <ul class="footer-nav">
          <li class="nav-item">
            <a href="./index.html" class="navigation">Головна</a>
          </li>
          <li class="nav-item">
            <a href="./restaurant.html" class="navigation">Ресторан</a>
          </li>
          <li class="nav-item">
            <a href="./hotel.html" class="navigation">Готель</a>
          </li>
        </ul>
        <div class="soc-list">
          <ul class="soc">
            <li class="social-item-footer">
              <a href="https://www.instagram.com/" rel="nofollow noopener noreferrer" target="_blank" class="social-link">
                <p class="social">Instagram</p>
                <svg class="sociel-icon-footer" width="24px" height="24px">
                  <use href="./img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>

          <ul class="soc">
            <li class="social-item-footer">
              <a href="https://www.facebook.com/" rel="nofollow noopener noreferrer" target="_blank" class="social-link">
                <p class="social">Facebook</p>
                <svg class="sociel-icon-footer" width="24px" height="24px">
                  <use href="./img/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
          </ul>

          <ul class="soc">
            <li class="social-item-footer">
              <a href="https://web.telegram.org/z/" rel="nofollow noopener noreferrer" target="_blank" class="social-link">
                <p class="social">Telegram</p>
                <svg class="sociel-icon-footer" width="24px" height="24px">
                  <use href="./img/icons.svg#icon-telegram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <button id="scrollToTopBtn" class="to-top-btn" type="button">
      Go to Top
      <svg class="arrow-icon" width="16" height="16">
        <use href="./img/icons.svg#icon-arrow-right"></use>
      </svg>
    </button>
  </div>
</footer>

