<header class="site-header">
  <div class="container">
    <div class="wrap-header">
      <nav class="site-navigation">
        <a href="./index.html" class="header-logo">MIMIHO</a>
        <ul class="header-list list">
          <li class="header-item">
            <div class="header-item-wrap">
              <a href="./restaurant.html" class="header-link link">Ресторан</a>
              <svg class="phone-icon" width="24px" height="24px">
                <use href="./img/icons.svg#icon-phone"></use>
              </svg>
            </div>
            <div class="phone-wrap">
              <svg class="phone-icon-border" width="24px" height="24px">
                <use href="./img/icons.svg#icon-phone"></use>
              </svg>
              <a href="tel:0955559533" class="phone-link link">095 555 95 33</a>
            </div>
          </li>
          <li class="header-item">
            <div class="header-item-wrap">
              <a href="./hotel.html" class="header-link link">Готель</a>
              <svg class="phone-icon" width="24px" height="24px">
                <use href="./img/icons.svg#icon-phone"></use>
              </svg>
            </div>
            <div class="phone-wrap">
              <svg class="phone-icon-border" width="24px" height="24px">
                <use href="./img/icons.svg#icon-phone"></use>
              </svg>
              <a href="tel:0668491089" class="phone-link link">066 849 10 89</a>
            </div>
          </li>
        </ul>
      </nav>
      <ul class="header-soc-list list">
        <li class="header-soc-item">
          <a
            href="https://www.instagram.com/"
            rel="noopener noreferrer nofollow"
            target="_blank"
            class="header-soc-link link"
          >
            <svg class="header-soc-icon" width="24px" height="24px">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-soc-item">
          <a
            href="https://www.facebook.com/"
            rel="noopener noreferrer nofollow"
            target="_blank"
            class="header-soc-link link"
          >
            <svg class="header-soc-icon" width="24px" height="24px">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="header-soc-item">
          <a
            href="https://web.telegram.org/z/"
            rel="noopener noreferrer nofollow"
            target="_blank"
            class="header-soc-link link"
          >
            <svg class="header-soc-icon" width="24px" height="24px">
              <use href="./img/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
