.rest-menu h2,
.rest-menu h3 {
    font-family: 'Film P3';
}

.rest-menu .btn {
    display: block;
    padding: 14px 24px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: var(--yellow-hover);
    background: var(--black-text-color);
    border: 2px solid var(--black-text-color);
    border-radius: 25px;
    transition: var(--time-animation) var(--cubic-bezier);
}

.rest-menu .btn:hover,
.rest-menu .btn:focus {
    color: var(--yellow-hover);
    border-color: var(--yellow-hover);
    background-color: var(--wight-hover);
}

.menu-wrapp + .btn {
    margin-top: 32px;
}

.rest-menu h2 {
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    text-transform: uppercase;
}

.rest-menu h3 {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}

.rest-menu h5 {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
}

.rest-menu .dish-title + .dish-description {
    margin-top: 4px;
}

.rest-menu {
    padding: 32px 0;
    color:  var(--black-text-color);
    background-color: var(--light-background-color);
}

.menu-item {
    margin-bottom: 16px;
}

.menu-item:last-child {
    margin-bottom: 0;
}

.left-side + .right-side {
    margin-top: 16px;
}

.rest-menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 8px;
}

.dish-info,
.dish-title {
    flex-basis: 60%;
}

.rest-menu-item:last-child {
    margin-bottom: 0;
}

.dish-description p {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.02em;
}

.dish-size,
.dish-coast {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    white-space: nowrap;
    flex-basis: 15%;
}

.dish-coast p {
    font-weight: 700;
}

@media screen and (min-width: 1024px) {

    .menu-wrapp {
        display: flex;
    }

    .menu-wrapp .left-side,
    .menu-wrapp .right-side {
        flex-basis: calc(100% - 176px);
    }

    .rest-menu {
    background-color: var(--dark-background-color);
   }

    .rest-menu .btn {
        margin-right: 0;
    }

}

@media screen and (min-width: 1024px) {
    .rest-menu {
        padding: 58px 0 40px;
    }

    .menu-wrapp {
        gap: 88px;
    }

    .rest-menu-item {
        gap: 40px;
    }

    .rest-menu h2 {
        margin-bottom: 40px;
    }

    .dish-coast {
        text-align: right;
    }

    .menu-wrapp + .btn {
        margin-top: 41px;
    }

    .menu-wrapp + .btn {
        margin-top: 41px;
    }

    .left-side + .right-side {
        margin-top: 0;
    }

    .rest-menu h3 {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 20px;
    }

    .menu-item {
        margin-bottom: 20px;
    }
}