.amenities.section {
  padding-top: 32px;
  padding-bottom: 28px;
  background-color: var(--light-background-color);
}
.amenities-header {
  font-family: 'Times New Roman';
  font-weight: 400;
  font-size: 32px;
  line-height: 115.625%; /* 37/32 */
  color: var(--black-text-color);
  margin-bottom: 16px;
}
.amenities-header + .amenities-text {
  margin-bottom: 32px;
}
.amenities-text {
  font-weight: 700;
  line-height: 125%; /* 20/16 */
  letter-spacing: 0.02em;
  color: var(--dark-grey-text-color);
}
.amenities-list {
  margin-bottom: 32px;
}
.amenities-item + .amenities-item {
  margin-top: 32px;
}
.amenities-item-content {
  display: flex;
  row-gap: 16px;
  flex-direction: column;
}
.amenities-title {
  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 24px;
  line-height: 116.666667%; /* 28/24 */
  color: var(--black-text-color);
  margin-bottom: 16px;
}
.amenities-buttons {
  display: flex;
  flex-direction: column;
}
.amenities-btn {
  width: 100%;
  height: 64px;
  background: var(--background-button-color);
  border: 1px solid var(--akzent-yellow);
  border-radius: 25px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%; /* 24/20 */
  padding: 0;
  color: var(--wight-hover);
  margin-bottom: 20px;
  transition: background-color var(--time-animation) var(--cubic-bezier),
    color var(--time-animation) var(--cubic-bezier),
    border-color var(--time-animation) var(--cubic-bezier);
}
.amenities-btn:focus,
.amenities-btn:hover {
  background-color: var(--akzent-yellow);
  color: var(--black-text-color);
  border-color: transparent;
}
.amenities-link {
  display: flex;
  justify-content: center;
  gap: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%; /* 20/16 */
  letter-spacing: 0.02em;
  color: var(--brown-text-color);
  transition: color var(--time-animation) var(--cubic-bezier);
}
.amenities-link:focus,
.amenities-link:hover {
  color: var(--akzent-yellow);
}
.amenities-link-icon {
  fill: currentColor;
}

@media screen and (min-width: 1024px) {
  .amenities.section {
    padding-top: 50px;
    padding-bottom: 40px;
  }
  .amenities {
    
    padding: 0 47px;
  }
  .amenities-header + .amenities-text {
    max-width: 757px;
  }
  .amenities-list {
    margin-bottom: 40px;
  }
  .amenities-item-content {
    flex-direction: row;
    gap: 80px;
  }
  .amenities-text {
    max-width: 400px;
  }
  .amenities-buttons {
    align-items: end;
  }
  .amenities-btn {
    width: auto;
    min-width: 434px;
    padding: 18px 38px;
    font-size: 24px;
    line-height: 120.833333%; /* 29/24 */
    margin-bottom: 32px;
  }
  .amenities-link {
    align-items: end;
    font-size: 20px;
    line-height: 120%; /* 24/20 */
    gap: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .amenities.section {
    padding: 48px 0;
  }
  .amenities {
    
    padding-right: 199px;
    padding-left: 85px;
  }
  .amenities-item-content {
    gap: 159px;
  }
}
