.prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translate(0, -50%);
}
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(0, -50%);
}
.navigation-hero-icon {
  display: block;
  background: rgba(0, 0, 0, 0.65);
  fill: var(--yellow-hover);
}
.room-page-hero {
  position: relative;
  max-width: 100%;
  padding-top: 484px;
  padding-bottom: 18px;
  position: relative;
  margin: 0 auto;
  background-color: var(--footer-background-color);
  background-image: url(../../img/room_double/hero-room-main-bg-1x-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .room-page-hero {
    background-image: url(../../img/room_double/hero-room-main-bg-2x-min.jpg);
  }
}

/* .swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.back-img-first {
  max-width: 414px;
  height: 740px;
  background-image: url(../../img/room_double/hero-room-main-bg-1x-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .back-img-first {
    background-image: url(../../img/room_double/hero-room-main-bg-2x-min.jpg);
  }
} */
.room-name {
  font-family: 'Times New Roman';
  color: #ffffff;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.05em;
}
.room-about {
  max-width: 325px;
  margin-top: 14px;
  margin-bottom: 17px;
  color: #ffffff;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
}
.hero-wrap {
  display: flex;
  align-items: center;
}
.adress-wrap {
  display: flex;
  position: absolute;
  padding: 7px;
  top: 65px;
  right: 15px;
  border: 1px;
  max-width: 209px;
  border: 1px solid #f3c653;
  border-radius: 2px;
  align-items: center;
  z-index: 1;
}
.icon-adress {
  margin-right: 13px;
}
.hetel-adress {
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: #e5e5e5;
}
.hero-social-list {
  display: flex;
  gap: 11px;
  flex-direction: column;
}
.show-price {
  margin: 0 auto;
  padding: 14px 35px;
  font-weight: 700;
  color: var(--yellow-hover);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid #ffffff;
  border-radius: 25px;
  transition-property: background-color, border-color;
  transition-duration: var(--time-animation);
  transition-timing-function: var(--cubic-bezier);
}
.show-price:hover,
.show-price:focus {
  background: #ffffff;
  border: 2px solid #f3c653;
}
.gradient {
  width: 100%;
  height: 143px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    #000000 0%,
    rgba(0, 0, 0, 0.55) 54.17%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 1;
}
@media screen and (min-width: 414px) {
  .room-page-hero {
    /* width: 414px; */
    position: relative;
    background-image: url(../../img/room_double/hero-room-main-bg-tablet-1x-min.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .room-page-hero {
      background-image: url(../../img/room_double/hero-room-main-bg-tablet-2x-min.jpg);
    }
  }
}
@media screen and (min-width: 1024px) {
  .room-page-hero {
    /* width: 1024px; */
  }
  .prev {
    left: 48px;
  }
  .next {
    right: 48px;
  }
  .room-page-hero {
    padding-top: 468px;
    padding-bottom: 22px;
    background-image: url(../../img/room_double/hero-room-main-bg-descktop-1x-min.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .room-page-hero {
      background-image: url(../../img/room_double/hero-room-main-bg-descktop-2x-min.jpg);
    }
  }
  .room-name {
    font-size: 36px;
    line-height: 1.13;
  }
  .room-about {
    max-width: 400px;
    margin-top: 24px;
    margin-bottom: 17px;
    font-size: 16px;
    letter-spacing: 0.02em;
  }
  .show-price {
    position: absolute;
    bottom: 62px;
    right: 47px;
  }
  .adress-wrap {
    position: static;
    margin-right: 40px;
    max-width: 284px;
  }
  .hetel-adress {
    font-size: 16px;
  }
  .hero-social-list {
    gap: 23px;
    flex-direction: row;
  }
  .icon-adress {
    width: 24px;
    height: 24px;
  }
  .gradient {
    height: 116px;
  }
}
@media screen and (min-width: 1280px) {
  .room-page-hero {
    width: 1280px;
  }
  .prev {
    left: 85px;
  }
  .next {
    right: 85px;
  }
  .room-page-hero {
    padding-top: 524px;
    padding-bottom: 48px;
    /* background-image: url(../../img/room_double/hero-room-main-bg-descktop-1x-min.jpg); */
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .room-page-hero {
      /* background-image: url(../../img/room_double/hero-room-main-bg-descktop-2x-min.jpg); */
    }
  }

  .show-price {
    position: absolute;
    bottom: 66px;
    right: 85px;
  }
  .adress-wrap {
    display: none;
  }
  .hero-social-list {
    display: none;
  }
  .room-about {
    margin-bottom: 0px;
  }
  .gradient {
    height: 147px;
  }
}
