
/* Стили для подложки

.overlay {
    /* opacity: 1;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    z-index: 20;
    transition: 0.3s all; 
}

.modal {
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    box-shadow: 0 3px 10px -0.5px rgb(0 0 0 / 20%);
    text-align: center; 
    padding: 30px;
    border-radius: 3px;
    transition: 0.3s all;
    background: rgba(46, 47, 66, 0.4);
}

.modal.active,
.overlay.active {
    opacity: 1;
    visibility: visible;
} 
.close-btn-modal {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    padding: 0;
    stroke: var(--black-text-color);
    background: transparent;
    border: none;
}

 */






.modal-order-table-mission {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--black-text-color);
    margin-bottom: 40px;
}

.modal-order-table-select,
.modal-order-table-input {
    width: 100%;
    height: 54px;
    background-color: var(--light-background-color);
    padding-left: 12px;
    margin-bottom: 8px;
}

.modal-order-table-text {
    display: block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.02em;
    color: var(--brown-text-color);
    text-align: left;
    padding-left: 12px;
}

.modal-order-table-label {
    display: block;
    margin-bottom: 28px;
    padding: 0;
}

.modal-order-table-select {
    border: 1px solid var(--brown-text-color);
}

.modal-order-table-select,
.modal-order-table-input::placeholder {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.05em;

    color: #808080;
}

.modal-order-table-btn {
    width: 100%;
    height: 64px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--hero-text-color);
    background: var(--background-button-color);
    border: 1px solid var(--akzent-yellow);
    border-radius: 2px;
    margin-top: 20px;

    transition: background-color var(--time-animation) var(--cubic-bezier),
        color var(--time-animation) var(--cubic-bezier);
}

.modal-order-table-btn:hover {
    color: var(--black-text-color);
    background: var(--yellow-hover);
}

.modal-order-table-container {
    padding: 60px 30px;
    }




/* -----Mobile----- */


@media screen and (min-width: 320px) and (max-width: 413px) {
    .modal-order-table-container {
        width: 95%;
        padding: 60px 30px;
        height: 780px;


    }
}

@media screen and (min-width: 414px) and (max-width: 1023px) {
    .modal-order-table-container {
        width: 414px;
        padding: 60px 30px;
        height: 780px;


    }
}



/* -----Tablet----- */
@media screen and (min-width: 1024px) {
    .modal-order-table-blocks-1-2 {
        display: flex;
        justify-content: space-between;
    }


    .modal-order-table-container {
        width: 712px;
            padding-left: 60px;
            padding-right: 60px;
            top: 50%;
    }
    .modal-order-table-mission {
        font-size: 40px;
        line-height: 1.15;
    }


    .modal-wrapper-top-part {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }

    .modal-wrapper-bottom-part {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }

    .modal-order-table-label {
        width: 288px;
    }

    .modal-order-table-select,
    .modal-order-table-input {
        width: 288px;
        height: 64px;
    }

    .modal-order-table-select,
    .modal-order-table-input::placeholder {
        font-size: 24px;
        line-height: 1.16;
    }

    .modal-order-table-btn {
        font-style: 24px;
    }
}
@media screen and (min-width: 1280px) {
    .modal-order-table-blocks-1-2 {
        display: flex;
        justify-content: space-between;
    }


    .modal-order-table-container {
        width: 712px;
        padding-left: 60px ;
        padding-right: 60px;
        top: 50%;
    }
    .modal-order-table-mission {
            font-size: 40px;
            line-height: 1.15;
        }


    .modal-wrapper-top-part {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }

    .modal-wrapper-bottom-part {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }

    .modal-order-table-label {
        width: 288px;
    }

    .modal-order-table-select,
    .modal-order-table-input {
        width: 288px;
        height: 64px;
    }

    .modal-order-table-select,
    .modal-order-table-input::placeholder {
        font-size: 24px;
        line-height: 1.16;
    }

    .modal-order-table-btn {
        font-style: 24px;
    }

}