<section class="about-hotel-section">
  <div class="container container-about-hotel">
    <div class="img-text-container">
      <div class="text-container">
        <h2 class="about-hotel-title visually-hidden">About our hotel</h2>
        <p class="about-hotel-uptitle">Готель</p>
        <p class="about-hotel-text-title text--turning" data-splitting="chars" data-animation="innerAnimated">MIMIHO</p>
        <p class="about-hotel-text">
          Наш готель складається з комфортабельних номерів, які підходять як для службових поїздок, так і для відпочинку з родиною або друзями. Номери обладнані всім необхідним для вашого комфорту - зручні ліжка, кондиціонери, телевізори, безкоштовний Wi-Fi та багато іншого.
        </p>
      </div>

      <picture>
        <source
          srcset="
            ./img/home_page/about_our_hotel/desctop/modern-studio-desctop1x.jpg 1x,
            ./img/home_page/about_our_hotel/desctop/modern-studio-desctop2x.jpg 2x
          "
          media="(min-width: 1280px)"
          width="460"
        />
        <source
          srcset="
            ./img/home_page/about_our_hotel/tablet/modern-studio-tablet1x.jpg 1x,
            ./img/home_page/about_our_hotel/tablet/modern-studio-tablet2x.jpg 2x
          "
          media="(min-width: 1024px)"
          width="400"
        />
        <img
          src="./img/home_page/about_our_hotel/mobile/modern-studio-1x.jpg"
          alt="Ліжко"
          width="244"
          class="about-hotel-img fadeInRight" data-animation="innerAnimated"
        />
      </picture>
    </div>

    <div class="about-hotel-img-container">
      <p class="about-hotel-text-brown">
        Ми також пропонуємо додаткові послуги, такі як трансфер в аеропорт, послуги пральні та прасування, оренду автомобілів та екскурсійні програми по місту та його околицях.
      </p>

      <picture>
        <source
          srcset="
            ./img/home_page/about_our_hotel/desctop/hotel-desctop1x.jpg 1x,
            ./img/home_page/about_our_hotel/desctop/hotel-desctop2x.jpg 2x
          "
          media="(min-width: 1280px)"
          width="460"
        />
        <source
          srcset="
            ./img/home_page/about_our_hotel/tablet/hotel-tablet1x.jpg 1x,
            ./img/home_page/about_our_hotel/tablet/hotel-tablet2x.jpg 2x
          "
          media="(min-width: 1024px)"
          width="350"
        />
        <img
          src="./img/home_page/about_our_hotel/mobile/hotel1x.jpg"
          alt="Ліжко"
          width="200"
          class="about-hotel-img-incontainer fadeInLeft" data-animation="innerAnimated"
        />
      </picture>
    </div>

    <div class="swiper swiper-about-hotel">
      <ul class="about-hotel-img-slider swiper-wrapper swiper-wrapper-about-hotel">
        <li class="swiper-slide swiper-slide-about-hotel">
          <picture>
            <source
              srcset="
                ./img/home_page/about_our_hotel/desctop/hotel-registration-desctop1x.jpg 1x,
                ./img/home_page/about_our_hotel/desctop/hotel-registration-desctop2x.jpg 2x
              "
              media="(min-width: 1280px)"
              width="254"
            />
            <source
              srcset="
                ./img/home_page/about_our_hotel/tablet/hotel-registration-tablet1x.jpg 1x,
                ./img/home_page/about_our_hotel/tablet/hotel-registration-tablet2x.jpg 2x
              "
              media="(min-width: 1024px)"
              width="194"
            />
        
            <img
              src="./img/home_page/about_our_hotel/mobile/hotel-registration1x.jpg"
              alt="Реєстрація"
              width="245"
              class="about-hotel-img-slider"
            />
          </picture>
        </li>
        <li class="swiper-slide swiper-slide-about-hotel">
          <picture>
            <source
              srcset="
                ./img/home_page/about_our_hotel/desctop/white-towel-desctop1x.jpg 1x,
                ./img/home_page/about_our_hotel/desctop/white-towel-desctop2x.jpg 2x
              "
              media="(min-width: 1280px)"
              width="254"
                          />
            <source
              srcset="
                ./img/home_page/about_our_hotel/tablet/white-towel-tablet1x.jpg 1x,
                ./img/home_page/about_our_hotel/tablet/white-towel-tablet2x.jpg 2x
              "
              media="(min-width: 1024px)"
              width="194"
              
            />

            <img
              src="./img/home_page/about_our_hotel/mobile/holl1x.jpg"
              alt="Рецепція"
              width="245"
              class="about-hotel-img-slider"
            />
          </picture>
        </li>
        <li class="swiper-slide swiper-slide-about-hotel">
          <picture>
            <source
              srcset="
                ./img/home_page/about_our_hotel/desctop/bath-desctop1x.jpg 1x,
                ./img/home_page/about_our_hotel/desctop/bath-desctop2x.jpg 2x
              "
              media="(min-width: 1280px)"
              width="254"
            />
            <source
              srcset="
                ./img/home_page/about_our_hotel/tablet/bath-tablet1x.jpg 1x,
                ./img/home_page/about_our_hotel/tablet/bath-tablet2x.jpg 2x
              "
              media="(min-width: 1024px)"
              width="194"
            />

            <img
              src="./img/home_page/about_our_hotel/mobile/bath1x.jpg"
              alt="Вана"
              width="245"
              class="about-hotel-img-slider"
            />
          </picture>
        </li>
                <li class="swiper-slide swiper-slide-about-hotel">
          <picture>
            <source
              srcset="
                ./img/home_page/about_our_hotel/desctop/white-towel-desctop1x.jpg 1x,
                ./img/home_page/about_our_hotel/desctop/white-towel-desctop2x.jpg 2x
              "
              media="(min-width: 1280px)"
              width="254"
                          />
            <source
              srcset="
                ./img/home_page/about_our_hotel/tablet/white-towel-tablet1x.jpg 1x,
                ./img/home_page/about_our_hotel/tablet/white-towel-tablet2x.jpg 2x
              "
              media="(min-width: 1024px)"
              width="194"
              
            />

            <img
              src="./img/home_page/about_our_hotel/mobile/holl1x.jpg"
              alt="Рецепція"
              width="245"
              class="about-hotel-img-slider"
            />
          </picture>
        </li>
      </ul>

      <div class="swiper-button-prev swiper-button-prev-about-hotel">
        <svg class="arrow-icon" width="32" height="32">
          <use href="./img/icons.svg#icon-arrow-left"></use>
        </svg>
      </div>
      <div class="swiper-button-next swiper-button-next-about-hotel">
        <svg class="arrow-icon" width="32" height="32">
          <use href="./img/icons.svg#icon-arrow-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>