<!-- <button
            class="hotel-lux-btn js-open-modal"
            type="button"
            data-modal="1"
          >
            столик
          </button> -->

<div class="modal modal-order-table-container" data-modal="1">
  <button type="button" class="close-btn-modal js-modal-close" data-modal-close>
    <svg class="close-btn-modal-svg" width="24" height="24">
      <use href="./img/icons.svg#icon-close"></use>
    </svg>
  </button>
  <form class="modal-order-table-form">
    <p class="modal-order-table-mission">ЗАБРОНЮВАТИ СТОЛИК</p>

    <!--- имя и номер----->
    <div class="modal-order-table-blocks-1-2">
      <div class="modal-order-table-block-1">
        <div>
          <label class="modal-order-table-label label-top-part">
            <input
              type="text"
              class="modal-order-table-input modal-border"
              name="user_name"
              required
              pattern="^[a-zA-Zа-яА-Я]+$"
              minlength="2"
              placeholder="Ваше ім’я"
            />
            <span class="modal-order-table-text"
              >На кого забронювати столик?</span
            >
          </label>

          <label class="modal-order-table-label">
            <input
              type="tel"
              class="modal-order-table-input modal-border"
              name="user_phone"
              required
              pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
              placeholder="+38 (___) ___-__-__"
            />
            <span class="modal-order-table-text">Номер телефону</span>
          </label>
        </div>
      </div>
      <!--- кол-во и дата ---->
      <div class="modal-order-table-block-2">
        <div>
          <select
            class="modal-order-table-select modal-border test"
            id="size"
            name="size"
          >
            <option value="xs" selected>2</option>
            <option value="s">2-4</option>
            <option value="m">6-10</option>
          </select>
          <label class="modal-order-table-label" for="size">
            <span class="modal-order-table-text"
              >Столик на яку кількість осіб?</span
            >
          </label>
        </div>

        <div>
          <!-- <select
              class="modal-order-table-select modal-border"
              id="size"
              name="size"
            >
              <option value="xs" selected>Сьогодні</option>
              <option value="s">П'ятниця</option>
              <option value="m">Субота</option>
              <option value="l">Неділя</option>
            </select> -->
          <input
            class="modal-order-table-select modal-border test"
            type="date"
            id="start"
            name="trip-start"
            value="2023-02-22"
            min="2023-02-22"
            max="2023-12-31"
          />

          <label class="modal-order-table-label" for="start">
            <span class="modal-order-table-text"
              >На яку дату бронювати?</span
            ></label
          >
        </div>
      </div>
    </div>
    <button type="submit" class="modal-order-table-btn button">
      ОФОРМИТИ БРОНЮВАННЯ
    </button>
  </form>
</div>
<div class="overlay" id="js-overlay-modal"></div>
