<!-- ==============Restaurant Page============== -->
<section class="restaurant-page-home">
  <div class="container restaurant-container">
    <h2 class="visually-hidden">About restaurant page Home</h2>
    <div class="logo-img-container">
      <div class="text-container-logo">
        <p class="over-text">Ресторан</p>
        <h3
          class="logo-text text--turning"
          data-splitting="chars"
          data-animation="innerAnimated"
        >
          MIMIHO
        </h3>
        <p class="text-page-home">
          це справжній грузинський ресторан, де ви зможете насолодитися справжньою грузинською кухнею. Ми пропонуємо широкий вибір страв, які задовольнять будь-який смак.
        </p>
      </div>

      <picture>
        <source
          srcset="
            ./img/restaurant/about_restaurant/desktop/desktopkitcheninterior2x.jpg 2x,
            ./img/restaurant/about_restaurant/desktop/desktopkitcheninterior1x.jpg
          "
          media="(min-width: 1280px)"
        />

        <source
          srcset="
            ./img/restaurant/about_restaurant/tablet/tabletkitcheninterior2x.jpg 2x,
            ./img/restaurant/about_restaurant/tablet/tabletkitcheninterior1x.jpg
          "
          media="(min-width: 1024px)"
        />

        <img
          class="fadeInLeft photo-restaurant-right"
          data-animation="innerAnimated"
          srcset="
            ./img/restaurant/about_restaurant/mobile/mobilekitcheninterior2x.jpg 2x
          "
          src="./img/restaurant/about_restaurant/mobile/mobilekitcheninterior1x.jpg"
          alt="Кухонна плита і сковорідка"
        />
      </picture>
    </div>

    <div class="image-text-container">
      <picture>
        <source
          srcset="
            ./img/restaurant/about_restaurant/desktop/desktopkitchenjacome2x.jpg 2x,
            ./img/restaurant/about_restaurant/desktop/desktopkitchenjacome1x.jpg
          "
          media="(min-width: 1280px)"
        />

        <source
          srcset="
            ./img/restaurant/about_restaurant/tablet/tabletkitchenjacome2x.jpg 2x,
            ./img/restaurant/about_restaurant/tablet/tabletkitchenjacome1x.jpg
          "
          media="(min-width: 1024px)"
        />

        <img
          srcset="
            ./img/restaurant/about_restaurant/mobile/mobilekitchenjacome2x.jpg 2x
          "
          src="./img/restaurant/about_restaurant/mobile/mobilekitchenjacome1x.jpg"
          alt="Стейк"
          class="photo-restaurant-left fadeInRight"
          data-animation="innerAnimated"
        />
      </picture>

      <p class="text-page-home brown">
        Наші головні шеф-кухарі мають багаторічний досвід роботи і знають, як правильно приготувати найсмачніші грузинські страви. Ми використовуємо лише свіжі та якісні інгредієнти, які ми купуємо у місцевих виробників. Це гарантує, що наші страви завжди смачні та ароматні.
      </p>
    </div>

    <div class="swiper rest-slider-img-container">
      <div class="swiper-wrapper rest-slider-wrapper">
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./img/restaurant/about_restaurant/desktop/desktopkitchenlopes2x.jpg 2x,
                ./img/restaurant/about_restaurant/desktop/desktopkitchenlopes1x.jpg
              "
              media="(min-width: 1280px)"
            />

            <source
              srcset="
                ./img/restaurant/about_restaurant/tablet/tabletkitchenlopes2x.jpg 2x,
                ./img/restaurant/about_restaurant/tablet/tabletkitchenlopes1x.jpg
              "
              media="(min-width: 1024px)"
            />

            <img
              srcset="
                ./img/restaurant/about_restaurant/mobile/mobilekitchenlopes2x.jpg 2x
              "
              src="./img/restaurant/about_restaurant/mobile/mobilekitchenlopes1x.jpg"
              alt="Борошно на столі"
              width="245"
              class="slider-img"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./img/restaurant/about_restaurant/desktop/desktopkichenbrown2x.jpg 2x,
                ./img/restaurant/about_restaurant/desktop/desktopkichenbrown1x.jpg
              "
              media="(min-width: 1280px)"
            />

            <source
              srcset="
                ./img/restaurant/about_restaurant/desktop/desktopkichenbrown2x.jpg 2x,
                ./img/restaurant/about_restaurant/desktop/desktopkichenbrown1x.jpg
              "
              media="(min-width: 1024px)"
            />

            <img
              srcset="
                ./img/restaurant/about_restaurant/mobile/mobilekichenbrown2x.jpg 2x
              "
              src="./img/restaurant/about_restaurant/mobile/mobilekichenbrown1x.jpg"
              alt="Хінкалі на столі"
              width="245"
              class="slider-img"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./img/restaurant/about_restaurant/desktop/desktopkitcunsplash2x.jpg 2x,
                ./img/restaurant/about_restaurant/desktop/desktopkitcunsplash1x.jpg
              "
              media="(min-width: 1280px)"
            />

            <source
              srcset="
                ./img/restaurant/about_restaurant/tablet/tabletkitcunsplash2x.jpg 2x,
                ./img/restaurant/about_restaurant/tablet/tabletkitcunsplash1x.jpg
              "
              media="(min-width: 1024px)"
            />

            <img
              srcset="
                ./img/restaurant/about_restaurant/mobile/mobilekitcunsplash2x.jpg 2x
              "
              src="./img/restaurant/about_restaurant/mobile/mobilekitcunsplash1x.jpg"
              alt="Чашка з чаєм"
              width="245"
              class="slider-img"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./img/restaurant/about_restaurant/desktop/desktopkitcunsplas2x.jpg 2x,
                ./img/restaurant/about_restaurant/desktop/desktopkitcunsplas1x.jpg
              "
              media="(min-width: 1280px)"
            />

            <source
              srcset="
                ./img/restaurant/about_restaurant/tablet/tabletkitcunsplas2x.jpg 2x,
                ./img/restaurant/about_restaurant/tablet/tabletkitcunsplas1x.jpg
              "
              media="(min-width: 1024px)"
            />

            <img
              srcset="
                ./img/restaurant/about_restaurant/mobile/mobilekitcunsplas2x.jpg 2x
              "
              src="/img/restaurant/about_restaurant/mobile/mobilekitcunsplas1x.jpg"
              alt="Кухонний стіл"
              width="245"
              class="slider-img"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./img/home_page/about_our_restaurant/desktop/desktoprestunsplash2x.jpg 2x,
                ./img/home_page/about_our_restaurant/desktop/desktoprestunsplash1x.jpg
              "
              media="(min-width: 1280px)"
            />

            <source
              srcset="
                ./img/home_page/about_our_restaurant/tablet/tabletrestunsplash2x.jpg 2x,
                ./img/home_page/about_our_restaurant/tablet/tabletrestunsplash1x.jpg
              "
              media="(min-width: 1024px)"
            />

            <img
              srcset="
                ./img/home_page/about_our_restaurant/mobile/mobilerestunsplash2x.jpg 2x
              "
              src="./img/home_page/about_our_restaurant/mobile/mobilerestunsplash1x.jpg"
              alt="Чашки і тарілки на столі"
              width="245"
              class="slider-img"
            />
          </picture>
        </div>
      </div>
    </div>

    <div class="swiper-button-prev restaurant-button-left1">
      <svg class="restaurant-icon-arrow" width="32" height="32">
        <use href="./img/icons.svg#icon-arrow-left"></use>
      </svg>
    </div>

    <div class="swiper-button-next restaurant-button-right1">
      <svg class="restaurant-icon-arrow" width="32" height="32">
        <use href="./img/icons.svg#icon-arrow-right"></use>
      </svg>
    </div>
  </div>
</section>

<!-- ==============/Restaurant Page============== -->
