<section id="menu" class="rest-menu">
    <div class="container">
        <h2 class="title fadeInRight" data-animation="innerAnimated">Меню Ресторану</h2>
        <div class="menu-wrapp">
            <div class="left-side fadeInRight" data-animation="innerAnimated">
                <div class="menu-item">
                    <h3 class="menu-title">
                        Гарячі страви
                    </h3>
                    <ul class="menu-dish">
                        <li class="rest-menu-item">
                            <div class="dish-info">
                                <h5 class="dish-title">
                                    Борщ з телятини з квасолею
                                </h5>
                                <div class="dish-description">
                                    <p>Телятина, картопля, капуста, морква, цибуля, квасоля, часник, помідори, зелень, сметана</p>
                                </div>
                            </div>
                            <div class="dish-size">
                                <p>400 г</p>
                            </div>
                            <div class="dish-coast">
                                <p>240 грн</p>
                            </div>
                        </li>
                        <li class="rest-menu-item">
                            <div class="dish-info">
                                <h5 class="dish-title">
                                    Суп сирний з куркою
                                </h5>
                                <div class="dish-description">
                                    <p>Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень</p>
                                </div>
                            </div>
                            <div class="dish-size">
                                <p>400 г</p>
                            </div>
                            <div class="dish-coast">
                                <p>200 грн</p>
                            </div>
                        </li>
                        <li class="rest-menu-item">
                            <div class="dish-info">
                                <h5 class="dish-title">
                                    Паста карбонара
                                </h5>
                                <div class="dish-description">
                                    <p>Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень</p>
                                </div>
                            </div>
                            <div class="dish-size">
                                <p>350 г</p>
                            </div>
                            <div class="dish-coast">
                                <p>430 грн</p>
                            </div>
                        </li>
                        <li class="rest-menu-item">
                            <div class="dish-info">
                                <h5 class="dish-title">
                                    Стейк зі свинини
                                </h5>
                                <div class="dish-description">
                                    <p>Свиняча вирізка, спеціі, подається з соусом солодкий чилі та овочами</p>
                                </div>
                            </div>
                            <div class="dish-size">
                                <p>400 г</p>
                            </div>
                            <div class="dish-coast">
                                <p>500 грн</p>
                            </div>
                        </li>
                        <li class="rest-menu-item">
                            <div class="dish-info">
                                <h5 class="dish-title">
                                    Горбуша в соусі з білого вина
                                </h5>
                                <div class="dish-description">
                                    <p>Ніжна горбуша, вершковий соус на основі білого вина</p>
                                </div>
                            </div>
                            <div class="dish-size">
                                <p>400 г</p>
                            </div>
                            <div class="dish-coast">
                                <p>400 грн</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="menu-item">
                    <h3 class="menu-title">
                        Гарніри та закуски
                    </h3>
                    <ul class="menu-dish">
                        <li class="rest-menu-item">
                            <div class="dish-info">
                                <h5 class="dish-title">
                                    Запечені овочі
                                </h5>
                                <div class="dish-description">
                                    <p>Кабачок, перець, помідор, баклажан</p>
                                </div>
                            </div>
                            <div class="dish-size">
                                <p>200 г</p>
                            </div>
                            <div class="dish-coast">
                                <p>230 грн</p>
                            </div>
                        </li>
                        <li class="rest-menu-item">
                            <div class="dish-info">
                                <h5 class="dish-title">
                                    Картопля фрі
                                </h5>
                                <div class="dish-description">
                                    <p>Картопля, соус томатний</p>
                                </div>
                            </div>
                            <div class="dish-size">
                                <p>150 г</p>
                            </div>
                            <div class="dish-coast">
                                <p>160 грн</p>
                            </div>
                        </li>
                        <li class="rest-menu-item">
                            <div class="dish-info">
                                <h5 class="dish-title">
                                    Картопля по-селянськи
                                </h5>
                                <div class="dish-description">
                                    <p>Картопля, спеції, соус пікантний</p>
                                </div>
                            </div>
                            <div class="dish-size">
                                <p>150 г</p>
                            </div>
                            <div class="dish-coast">
                                <p>160 грн</p>
                            </div>
                        </li>
                        <li class="rest-menu-item">
                            <div class="dish-info">
                                <h5 class="dish-title">
                                    Хрумкі соління з бочки
                                </h5>
                                <div class="dish-description">
                                    <p>Огірок солений, помідор квашений, квашена капуста, морква по-корейські</p>
                                </div>
                            </div>
                            <div class="dish-size">
                                <p>250 г</p>
                            </div>
                            <div class="dish-coast">
                                <p>350 грн</p>
                            </div>
                        </li>
                        <li class="rest-menu-item">
                            <div class="dish-info">
                                <h5 class="dish-title">
                                    Крильця курячі в медовому соусі
                                </h5>
                                <div class="dish-description">
                                    <p>Крильця курячі, гірчично-медовий соус, подається з морквою, селерою і соусом блючиз</p>
                                </div>
                            </div>
                            <div class="dish-size">
                                <p>400 г</p>
                            </div>
                            <div class="dish-coast">
                                <p>420 грн</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="right-side fadeInLeft" data-animation="innerAnimated">
                <div class="menu-item">
                    <h3 class="menu-title">
                        Салати
                    </h3>
                    <ul class="menu-dish">
                        <li class="rest-menu-item">
                            <div class="dish-info">
                                <h5 class="dish-title">
                                    Цезар з куркою
                                </h5>
                                <div class="dish-description">
                                    <p>Куряче філе, листя салату, помідори чері, сир пармезан, грінки, соус цезар</p>
                                </div>
                            </div>
                            <div class="dish-size">
                                <p>230 г</p>
                            </div>
                            <div class="dish-coast">
                                <p>450 грн</p>
                            </div>
                        </li>
                        <li class="rest-menu-item">
                            <div class="dish-info">
                                <h5 class="dish-title">
                                    Цезар з креветками
                                </h5>
                                <div class="dish-description">
                                    <p>Тигрові креветки, листя салату, помідори чері, сир пармезан, грінки, соус цезар</p>
                                </div>
                            </div>
                            <div class="dish-size">
                                <p>230 г</p>
                            </div>
                            <div class="dish-coast">
                                <p>300 грн</p>
                            </div>
                        </li>
                        <li class="rest-menu-item">
                            <div class="dish-info">
                                <h5 class="dish-title">
                                    Грецький салат
                                </h5>
                                <div class="dish-description">
                                    <p>Свіжі огірок, помідор, болгарський перець, оливки, сир бринза, листя салату, соус</p>
                                </div>
                            </div>
                            <div class="dish-size">
                                <p>230 г</p>
                            </div>
                            <div class="dish-coast">
                                <p>280 грн</p>
                            </div>
                        </li>
                        <li class="rest-menu-item">
                            <div class="dish-info">
                                <h5 class="dish-title">
                                    М’ясний салат
                                </h5>
                                <div class="dish-description">
                                    <p>Куряче філе або свиняча вирізка, свіжі огірок, помідор, болгарський перець, соус ранч</p>
                                </div>
                            </div>
                            <div class="dish-size">
                                <p>230 г</p>
                            </div>
                            <div class="dish-coast">
                                <p>300 грн</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="menu-item">
                    <h3 class="menu-title">
                        Десерти
                    </h3>
                    <ul class="menu-dish">
                        <li class="rest-menu-item">
                            <div class="dish-info">
                                <h5 class="dish-title">
                                    Торт наполеон
                                </h5>
                            </div>
                            <div class="dish-size">
                                <p>230 г</p>
                            </div>
                            <div class="dish-coast">
                                <p>300 грн</p>
                            </div>
                        </li>
                        <li class="rest-menu-item">
                            <div class="dish-info">
                                <h5 class="dish-title">
                                    Торт маковий
                                </h5>
                            </div>
                            <div class="dish-size">
                                <p>230 г</p>
                            </div>
                            <div class="dish-coast">
                                <p>300 грн</p>
                            </div>
                        </li>
                        <li class="rest-menu-item">
                            <div class="dish-info">
                                <h5 class="dish-title">
                                    Тірамісу
                                </h5>
                            </div>
                            <div class="dish-size">
                                <p>120 г</p>
                            </div>
                            <div class="dish-coast">
                                <p>260 грн</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="menu-item">
                    <h3 class="menu-title">
                        Напої
                    </h3>
                    <ul class="menu-dish">
                        <li class="rest-menu-item">
                            <div class="dish-info">
                                <h5 class="dish-title">
                                    Чай чорний/зелений
                                </h5>
                            </div>
                            <div class="dish-size">
                                <p>500 мл</p>
                            </div>
                            <div class="dish-coast">
                                <p>100 грн</p>
                            </div>
                        </li>
                        <li class="rest-menu-item">
                            <div class="dish-info">
                                <h5 class="dish-title">
                                    Еспресо
                                </h5>
                            </div>
                            <div class="dish-size">
                                <p>30 мл</p>
                            </div>
                            <div class="dish-coast">
                                <p>100 грн</p>
                            </div>
                        </li>
                        <li class="rest-menu-item">
                            <div class="dish-info">
                                <h5 class="dish-title">
                                    Американо
                                </h5>
                            </div>
                            <div class="dish-size">
                                <p>150 мл</p>
                            </div>
                            <div class="dish-coast">
                                <p>100 грн</p>
                            </div>
                        </li>
                        <li class="rest-menu-item">
                            <div class="dish-info">
                                <h5 class="dish-title">
                                    Капучино
                                </h5>
                            </div>
                            <div class="dish-size">
                                <p>200 мл</p>
                            </div>
                            <div class="dish-coast">
                                <p>160 грн</p>
                            </div>
                        </li>
                        <li class="rest-menu-item">
                            <div class="dish-info">
                                <h5 class="dish-title">
                                    Лате
                                </h5>
                            </div>
                            <div class="dish-size">
                                <p>200 мл</p>
                            </div>
                            <div class="dish-coast">
                                <p>160 грн</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <button class="btn js-open-modal" type="button" data-modal="1" >Забронювати столик</button>
    </div>
</section>