<section class="details-hotel">
  <div class="container container-details-rastaurant">
    <div class="title-wrap">
      <p
        class="details-hotel-mimino text--turning"
        data-splitting="chars"
        data-animation="innerAnimated"
      >
        MIMIHO
      </p>

      <h2 class="details-hotel-titel">Готель</h2>
    </div>
    <p class="details-hotel-content">
      Ми пропонуємо комфортабельні номери зі зручностями та видом на гори, де ви зможете відпочити від повсякденної суєти та насолодитися красою грузинської природи.
    </p>

    <div class="details-hotel-bottom">
      <div class="details-hotel-slides slides">
        <!-- Slider main container -->
        <div class="details-hotel-swiper swiper-triple swiper">
          <ul class="swiper-wrapper swiper-wrapper-details-hotel">
            <!-- Slides -->
            <li class="details-hotel-swiper-slide swiper-slide">
              <picture>
                <source
                  srcset="
                    ./img/home_page/details_of_our_hotel/room-desktop1@1x-min.jpg 1x,
                    ./img/home_page/details_of_our_hotel/room-desktop1@2x-min.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/home_page/details_of_our_hotel/room-tab1@1x-min.jpg 1x,
                    ./img/home_page/details_of_our_hotel/room-tab1@2x-min.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./img/home_page/details_of_our_hotel/room-mob1@1x-min.jpg 1x,
                    ./img/home_page/details_of_our_hotel/room-mob1@2x-min.jpg 2x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  class="about-hotel-img-slider"
                  src="./img/home_page/details_of_our_hotel/room-mob1@1x-min.jpg"
                  alt="Ресепшн"
                  width="274"
                  height="270"
                />
              </picture>
            </li>
            <li class="details-hotel-swiper-slide swiper-slide">
              <picture>
                <source
                  srcset="
                    ./img/home_page/details_of_our_hotel/room-desktop4@1x-min.jpg 1x,
                    ./img/home_page/details_of_our_hotel/room-desktop4@2x-min.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/home_page/details_of_our_hotel/room-tab4@1x-min.jpg 1x,
                    ./img/home_page/details_of_our_hotel/room-tab4@2x-min.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./img/home_page/details_of_our_hotel/room-mob4@1x-min.jpg 1x,
                    ./img/home_page/details_of_our_hotel/room-mob4@2x-min.jpg 2x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  class="about-hotel-img-slider"
                  src="./img/home_page/details_of_our_hotel/room-mob4@1x-min.jpg"
                  alt="Вбиральня"
                  width="274"
                  height="270"
                />
              </picture>
            </li>
            <li class="details-hotel-swiper-slide swiper-slide">
              <picture>
                <source
                  srcset="
                    ./img/home_page/details_of_our_hotel/room-desktop3@1x-min.jpg 1x,
                    ./img/home_page/details_of_our_hotel/room-desktop3@2x-min.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/home_page/details_of_our_hotel/room-tab3@1x-min.jpg 1x,
                    ./img/home_page/details_of_our_hotel/room-tab3@2x-min.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./img/home_page/details_of_our_hotel/room-mob3@1x-min.jpg 1x,
                    ./img/home_page/details_of_our_hotel/room-mob3@2x-min.jpg 2x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  class="about-hotel-img-slider"
                  src="./img/home_page/details_of_our_hotel/room-mob3@1x-min.jpg"
                  alt="Вбиральня"
                  width="274"
                  height="270"
                />
              </picture>
            </li>
            <li class="details-hotel-swiper-slide swiper-slide">
              <picture>
                <source
                  srcset="
                    ./img/home_page/details_of_our_hotel/room-desktop3@1x-min.jpg 1x,
                    ./img/home_page/details_of_our_hotel/room-desktop3@2x-min.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/home_page/details_of_our_hotel/room-tab3@1x-min.jpg 1x,
                    ./img/home_page/details_of_our_hotel/room-tab3@2x-min.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./img/home_page/details_of_our_hotel/room-mob3@1x-min.jpg 1x,
                    ./img/home_page/details_of_our_hotel/room-mob3@2x-min.jpg 2x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  class="about-hotel-img-slider"
                  src="./img/home_page/details_of_our_hotel/room-mob3@1x-min.jpg"
                  alt="Вбиральня"
                  width="274"
                  height="270"
                />
              </picture>
            </li>

            <li class="details-hotel-swiper-slide swiper-slide">
              <picture>
                <source
                  srcset="
                    ./img/home_page/details_of_our_hotel/room-desktop4@1x-min.jpg 1x,
                    ./img/home_page/details_of_our_hotel/room-desktop4@2x-min.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/home_page/details_of_our_hotel/room-tab4@1x-min.jpg 1x,
                    ./img/home_page/details_of_our_hotel/room-tab4@2x-min.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./img/home_page/details_of_our_hotel/room-mob4@1x-min.jpg 1x,
                    ./img/home_page/details_of_our_hotel/room-mob4@2x-min.jpg 2x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  class="about-hotel-img-slider"
                  src="./img/home_page/details_of_our_hotel/room-mob4@1x-min.jpg"
                  alt="Вбиральня"
                  width="274"
                  height="270"
                />
              </picture>
            </li>
          </ul>

          <!-- If we need navigation buttons -->
          <div
            class="datails-hotel-swiper-btn-prev swiper-button-prev swiper-triple-button-prev"
          >
            <svg class="arrow-icon" width="32" height="32">
              <use href="./img/icons.svg#icon-arrow-left"></use>
            </svg>
          </div>
          <div
            class="datails-hotel-swiper-btn-next swiper-button-next swiper-triple-button-next"
          >
            <svg class="arrow-icon" width="32" height="32">
              <use href="./img/icons.svg#icon-arrow-right"></use>
            </svg>
          </div>
        </div>

        <div class="details-hotel-btn-wrap">
          <button
            class="details-hotel-btn js-open-modal"
            data-modal="2"
            type="button"
          >
            Забронювати номер
          </button>
          <a href="./hotel.html" class="details-hotel-link-btn link">
            Переглянути ціни
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
