<!-- ==============Restaurant Page Home============== -->
<section class="restaurant-page-home">
  <div class="container restaurant-container">
    <h2 class="visually-hidden">About restaurant page Home</h2>
    <div class="logo-img-container">
      <div class="text-container-logo">
        <p class="over-text">Наш ресторан</p>
        <h3
          class="logo-text text--turning"
          data-splitting="chars"
          data-animation="innerAnimated"
        >
          MIMIHO
        </h3>
        <p class="text-page-home">
          це справжній кулінарний досвід. Ми пропонуємо вам спробувати
          найвідоміші грузинські страви, такі як хачапурі, шашлик, сациві та
          багато іншого. У нашому меню ви знайдете страви для будь-якого смаку -
          від м'ясних до вегетаріанських, від легких закусок до традиційних
          супів.
        </p>
      </div>

      <picture>
        <source
          srcset="
            ./img/home_page/about_our_restaurant/desktop/desktoprestaurantinterior2x.jpg 2x,
            ./img/home_page/about_our_restaurant/desktop/desktoprestaurantinterior1x.jpg
          "
          media="(min-width: 1280px)"
        />

        <source
          srcset="
            ./img/home_page/about_our_restaurant/tablet/tabletrestaurantinterior2x.jpg 2x,
            ./img/home_page/about_our_restaurant/tablet/tabletrestaurantinterior1x.jpg
          "
          media="(min-width: 1024px)"
        />

        <img
          srcset="
            ./img/home_page/about_our_restaurant/mobile/mobilerestaurantinterior2x.jpg 2x
          "
          src="./img/home_page/about_our_restaurant/mobile/mobilerestaurantinterior1x.jpg"
          alt="Столи та стільці в ресторані"
          class="photo-restaurant-right fadeInLeft"
          data-animation="innerAnimated"
        />
      </picture>
    </div>

    <div class="image-text-container">
      <picture>
        <source
          srcset="
            ./img/home_page/about_our_restaurant/desktop/desktoporurijacome2x.jpg 2x,
            ./img/home_page/about_our_restaurant/desktop/desktoporurijacome1x.jpg
          "
          media="(min-width: 1280px)"
        />

        <source
          srcset="
            ./img/home_page/about_our_restaurant/tablet/tabletorurijacome2x.jpg 2x,
            ./img/home_page/about_our_restaurant/tablet/tabletorurijacome1x.jpg
          "
          media="(min-width: 1024px)"
        />

        <img
          srcset="
            ./img/home_page/about_our_restaurant/mobile/mobileorurijacome2x.jpg 2x
          "
          src="./img/home_page/about_our_restaurant/mobile/mobileorurijacome1x.jpg"
          alt="Столи і стільці"
          class="photo-restaurant-left fadeInRight"
          data-animation="innerAnimated"
        />
      </picture>

      <p class="text-page-home brown">
        Ми використовуємо лише свіжі та якісні інгредієнти, які ми купуємо у
        місцевих виробників. Наш шеф-кухар має багаторічний досвід роботи і
        готовий приготувати для вас страви, які ви запам'ятаєте надовго.
      </p>
    </div>

    <!-- =========Slider========== -->

    <div class="slider-img-container swiper">
      <ul class="list-slider-wrapper swiper-wrapper">
        <li class="swiper-slide">
          <picture class="slider-img">
            <source
              srcset="
                ./img/home_page/about_our_restaurant/desktop/desktophelenalopes2x.jpg 2x,
                ./img/home_page/about_our_restaurant/desktop/desktophelenalopes1x.jpg
              "
              media="(min-width: 1280px)"
              class="img-slider-tablet"
            />

            <source
              srcset="
                ./img/home_page/about_our_restaurant/tablet/tablethelenalopes2x.jpg 2x,
                ./img/home_page/about_our_restaurant/tablet/tablethelenalopes1x.jpg
              "
              media="(min-width: 1024px)"
              class="img-slider-tablet"
            />

            <img
              srcset="
                ./img/home_page/about_our_restaurant/mobile/mobilehelenalopes2x.jpg 2x
              "
              src="./img/home_page/about_our_restaurant/mobile/mobilehelenalopes1x.jpg"
              alt="Бокали з вином"
              width="254"
              class="img-slider-mobile"
            />
          </picture>
        </li>

        <li class="swiper-slide">
          <picture class="slider-img">
            <source
              srcset="
                ./img/home_page/about_our_restaurant/desktop/desktopmatbrown2x.jpg 2x,
                ./img/home_page/about_our_restaurant/desktop/desktopmatbrown1x.jpg
              "
              media="(min-width: 1280px)"
              class="img-slider-tablet"
            />

            <source
              srcset="
                ./img/home_page/about_our_restaurant/tablet/tabletmatbrown2x.jpg 2x,
                ./img/home_page/about_our_restaurant/tablet/tabletmatbrown1x.jpg
              "
              media="(min-width: 1024px)"
              class="img-slider-tablet"
            />

            <img
              srcset="
                ./img/home_page/about_our_restaurant/mobile/mobilematbrown2x.jpg 2x
              "
              src="./img/home_page/about_our_restaurant/mobile/mobilematbrown1x.jpg"
              alt="Стіл з тарілками і бокалами"
              width="254"
              class="img-slider-mobile"
            />
          </picture>
        </li>

        <li class="swiper-slide">
          <picture class="slider-img">
            <source
              srcset="
                ./img/home_page/about_our_restaurant/desktop/desktoprestunsplas2x.jpg 2x,
                ./img/home_page/about_our_restaurant/desktop/desktoprestunsplas1x.jpg
              "
              media="(min-width: 1280px)"
              class="img-slider-tablet"
            />

            <source
              srcset="
                ./img/home_page/about_our_restaurant/tablet/tabletrestunsplas2x.jpg 2x,
                ./img/home_page/about_our_restaurant/tablet/tabletrestunsplas1x.jpg
              "
              media="(min-width: 1024px)"
              class="img-slider-tablet"
            />

            <img
              srcset="
                ./img/home_page/about_our_restaurant/mobile/mobilerestunspla2x.jpg 2x
              "
              src="./img/home_page/about_our_restaurant/mobile/mobilerestunspla1x.jpg"
              alt="Бокали з вином та устриці "
              width="254"
              class="img-slider-mobile"
            />
          </picture>
        </li>

        <li class="swiper-slide">
          <picture class="slider-img">
            <source
              srcset="
                ./img/home_page/about_our_restaurant/desktop/desktopunspla2x.jpg 2x,
                ./img/home_page/about_our_restaurant/desktop/desktopunspla1x.jpg
              "
              media="(min-width: 1280px)"
              class="img-slider-tablet"
            />

            <source
              srcset="
                ./img/home_page/about_our_restaurant/tablet/tabletrestunspla2x.jpg 2x,
                ./img/home_page/about_our_restaurant/tablet/tabletrestunspla1x.jpg
              "
              media="(min-width: 1024px)"
              class="img-slider-tablet"
            />

            <img
              srcset="
                ./img/home_page/about_our_restaurant/mobile/mobilerestunsplas2x.jpg 2x
              "
              src="./img/home_page/about_our_restaurant/mobile/mobilerestunsplas1x.jpg"
              alt="Келихи і тарілки"
              width="254"
              class="img-slider-mobile"
            />
          </picture>
        </li>

        <li class="swiper-slide">
          <picture class="slider-img">
            <source
              srcset="
                ./img/home_page/about_our_restaurant/desktop/desktoprestunsplash2x.jpg 2x,
                ./img/home_page/about_our_restaurant/desktop/desktoprestunsplash1x.jpg
              "
              media="(min-width: 1280px)"
              class="img-slider-tablet"
            />

            <source
              srcset="
                ./img/home_page/about_our_restaurant/tablet/tabletrestunsplash2x.jpg 2x,
                ./img/home_page/about_our_restaurant/tablet/tabletrestunsplash1x.jpg
              "
              media="(min-width: 1024px)"
              class="img-slider-tablet"
            />

            <img
              srcset="
                ./img/home_page/about_our_restaurant/mobile/mobilerestunsplash2x.jpg 2x
              "
              src="./img/home_page/about_our_restaurant/mobile/mobilerestunsplash1x.jpg"
              alt="Чашки і тарілки на столі"
              width="254"
              class="img-slider-mobile"
            />
          </picture>
        </li>
      </ul>
    </div>
    <div class="restaurant-button-left swiper-button-prev">
      <svg class="restaurant-icon-arrow" width="32" height="32">
        <use href="./img/icons.svg#icon-arrow-left"></use>
      </svg>
    </div>

    <div class="restaurant-button-right swiper-button-next">
      <svg class="restaurant-icon-arrow" width="32" height="32">
        <use href="./img/icons.svg#icon-arrow-right"></use>
      </svg>
    </div>
  </div>
</section>

<!-- ==============/Restaurant Page Home============== -->
