<section class="triple-section">
  <div class="container triple-container">
    <!-- текст и картинка в общем диве-->

    <div class="hotel-triple-title-img">
      <p class="triple-text">Трикімнатний номер у готелі</p>
      <h2
        class="triple-logo text--turning"
        data-splitting="chars"
        data-animation="innerAnimated"
      >
        MIMIHO
      </h2>
      <div class="triple-about">
        <h3 class="triple-title">ТРЬОХМІСНИЙ НОМЕР</h3>
        <p class="triple-description">
          ідеальний варіант для відпочинку в компанії друзів або родини. Номер має два окремих ліжка та одне king-size ліжко, повністю обладнану ванну кімнату та зручні робочі місця для комфортного перебування. З теплими кольорами та стильним декором, наш трьохмісний номер забезпечить вам приємний та затишний відпочинок в центрі міста.
        </p>
      </div>

      <picture class="triple-picture">
        <source
          class="triple-img"
          srcset="
            ./img/hotel/triple/triple-main1x.jpg 1x,
            ./img/hotel/triple/triple-main2x.jpg 2x
          "
          media="(max-width: 1023px)"
        />
        <source
          class="triple-img"
          srcset="
            ./img/hotel/triple/triple-main1x-tab.jpg 1x,
            ./img/hotel/triple/triple-main2x-tab.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          class="triple-img"
          srcset="
            ./img/hotel/triple/triple-main1x-desk.jpg 1x,
            ./img/hotel/triple/triple-main2x-desk.jpg 2x
          "
          media="(min-width: 1280px)"
        />

        <img
          class="triple-img fadeInRight"
          data-animation="innerAnimated"
          src="./img/hotel/triple/triple-main1x-desk.jpg"
          alt="Фото просторого номера зі зручним ліжком та великим вікном"
          width="460"
        />
      </picture>
    </div>

    <!--------слайдер + кнопки ---------->

    <!--------слайдер---------->

    <div class="triple-united">
      <div class="swiper hotel-triple-swiper">
        <ul class="swiper-wrapper hotel-triple-swiper-wrapper">
          <li class="swiper-slide ">
            <picture>
              <source
                srcset="
                  ./img/hotel/triple/mob-slaider1-1x.jpg 1x,
                  ./img/hotel/triple/mob-slaider1-2x.jpg 2x
                "
                media="(max-width: 1023px)"
              />
              <source
                srcset="
                  ./img/hotel/triple/tab-slaider1-1x.jpg 1x,
                  ./img/hotel/triple/tab-slaider1-2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./img/hotel/triple/desk-slaider1-1x.jpg 1x,
                  ./img/hotel/triple/desk-slaider1-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <img
                src="./img/hotel/triple/desk-slaider1-1x.jpg"
                alt="Простора вітальня із великим диваном"
                width="194"
                height="194"
                class="triple-slider-img"
              />
            </picture>
          </li>
          <li class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/hotel/triple/mob-slaider2-1x.jpg 1x,
                  ./img/hotel/triple/mob-slaider2-2x.jpg 2x
                "
                media="(max-width: 1023px)"
              />
              <source
                srcset="
                  ./img/hotel/triple/tab-slaider2-1x.jpg 1x,
                  ./img/hotel/triple/tab-slaider2-2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./img/hotel/triple/desk-slaider2-1x.jpg 1x,
                  ./img/hotel/triple/desk-slaider2-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <img
                src="./img/hotel/triple/desk-slaider2-1x.jpg"
                alt="Ванна кімната із косметичними засобами для волосся"
                width="194"
                height="194"
                class="triple-slider-img"
              />
            </picture>
          </li>
          <li class="swiper-slide ">
            <picture>
              <source
                srcset="
                  ./img/hotel/triple/mob-slaider3-1x.jpg 1x,
                  ./img/hotel/triple/mob-slaider3-2x.jpg 2x
                "
                media="(max-width: 1023px)"
              />
              <source
                srcset="
                  ./img/hotel/triple/tab-slaider3-1x.jpg 1x,
                  ./img/hotel/triple/tab-slaider3-2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./img/hotel/triple/desk-slaider3-1x.jpg 1x,
                  ./img/hotel/triple/desk-slaider3-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <img
                src="./img/hotel/triple/desk-slaider3-1x.jpg"
                alt="Раковина біля якої розміщене велике дзеркало та ваза із листям монстери"
                width="194"
                height="194"
                class="triple-slider-img"
              />
            </picture>
          </li>
          <li class="swiper-slide ">
            <picture>
              <source
                srcset="
                  ./img/hotel/triple/mob-slaider4-1x.jpg 1x,
                  ./img/hotel/triple/mob-slaider4-2x.jpg 2x
                "
                media="(max-width: 1023px)"
              />
              <source
                srcset="
                  ./img/hotel/triple/tab-slaider4-1x.jpg 1x,
                  ./img/hotel/triple/tab-slaider4-2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./img/hotel/triple/desk-slaider4-1x.jpg 1x,
                  ./img/hotel/triple/desk-slaider4-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <img
                src="./img/hotel/triple/desk-slaider4-1x.jpg"
                alt="Рушник на якому розміщений регенеруючий крем"
                width="194"
                height="194"
                class="triple-slider-img"
              />
            </picture>
          </li>
        </ul>

        <div class="swiper-button-prev h-triple-prev">
          <svg width="32" height="32">
            <use href="./img/icons.svg#icon-arrow-left"></use>
          </svg>
        </div>
        <div class="swiper-button-next h-triple-next">
          <svg width="32" height="32">
            <use href="./img/icons.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </div>

      <ul class="triple-list">
        <li class="triple-item">
          <a class="triple-btn btn-details" href="./room_triple.html"
            >Детальніше</a
          >
        </li>
        <li class="triple-item">
          <button class="js-open-modal triple-btn" type="button" data-modal="3">
            Переглянути ціни
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
