<section class="hotel-section-double">
  <div class="container double">
    <!-- текст и картинка в общем диве-->

    <div class="hotel-double-title-img">
      <div class="hotel-double-title-block">
        <p class="hotel-double-min-text">Однокімнатний номер</p>
        <p class="hotel-double-mimino text--turning" data-splitting="chars" data-animation="innerAnimated">mimiho</p>
        <h2 class="hotel-double-title">ДВОМІСНИЙ НОМЕР</h2>
        <p class="hotel-double-text">
          Наш готель пропонує двомісні номери з усіма зручностями для комфортного перебування гостей. Вони ідеально підходять для пар або ділових подорожей. У номерах є все необхідне для приємного відпочинку, роботи і відрядження.
        </p>
      </div>

      <picture>
        <source
          srcset="
            ./img/hotel/double/desk-double-room-1x-min.jpg 1x,
            ./img/hotel/double/desk-double-room-2x-min.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/hotel/double/tab-double-room-1x-min.jpg 1x,
            ./img/hotel/double/tab-double-room-2x-min.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./img/hotel/double/mob-double-room-1x-min.jpg 1x,
            ./img/hotel/double/mob-double-room-2x-min.jpg 2x
          "
          media="(max-width: 1023px)"
        />
        <img
          src="./img/hotel/double/mob-double-room-1x-min.jpg"
          alt="double-room"
          width="244"
          height="320"
          class="double-img fadeInLeft" data-animation="innerAnimated"
        />
      </picture>
    </div>

    <!--------слайдер + кнопки ---------->

    <!--------слайдер---------->
    <div class="hotel-double-slider-btn">
      <div class="swiper hotel-double-swiper">
        <ul class="swiper-wrapper hotel-double-swiper-wrapper">
          <li class="swiper-slide hotel-double-slider">
            <picture>
              <source
                srcset="
                  ./img/hotel/double/desk-double-c-room-1x-min.jpg 1x,
                  ./img/hotel/double/desk-double-c-room-2x-min.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/hotel/double/tab-double-c-room-1x-min.jpg 1x,
                  ./img/hotel/double/tab-double-c-room-2x-min.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./img/hotel/double/mob-double-c-room-1x-min.jpg 1x,
                  ./img/hotel/double/mob-double-c-room-2x-min.jpg 2x
                "
                media="(max-width: 1023px)"
              />
              <img
                srcset="
                  ./img/hotel/double/mob-double-c-room-1x-min.jpg 1x,
                  ./img/hotel/double/mob-double-c-room-2x-min.jpg 2x
                "
                src="./img/hotel/double/mob-double-c-room-1x-min.jpg"
                alt="double-room"
                width="194"
                height="194"
                class="double-slider-img"
              />
            </picture>
          </li>
          <li class="swiper-slide hotel-double-slider">
            <picture>
              <source
                srcset="
                  ./img/hotel/double/desk-double-b-room-1x-min.jpg 1x,
                  ./img/hotel/double/desk-double-b-room-2x-min.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/hotel/double/tab-double-b-room-1x-min.jpg 1x,
                  ./img/hotel/double/tab-double-b-room-2x-min.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./img/hotel/double/mob-double-b-room-1x-min.jpg 1x,
                  ./img/hotel/double/mob-double-b-room-2x-min.jpg 2x
                "
                media="(max-width: 1023px)"
              />
              <img
                srcset="
                  ./img/hotel/double/mob-double-b-room-1x-min.jpg 1x,
                  ./img/hotel/double/mob-double-b-room-2x-min.jpg 2x
                "
                src="./img/hotel/double/mob-double-b-room-1x-min.jpg"
                alt="double-room"
                width="194"
                height="194"
                class="double-slider-img"
              />
            </picture>
          </li>
          <li class="swiper-slide hotel-double-slider">
            <picture>
              <source
                srcset="
                  ./img/hotel/double/desk-double-2-room-1x-min.jpg 1x,
                  ./img/hotel/double/desk-double-2-room-2x-min.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/hotel/double/tab-double-2-room-1x-min.jpg 1x,
                  ./img/hotel/double/tab-double-2-room-2x-min.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./img/hotel/double/mob-double-2-room-1x-min.jpg 1x,
                  ./img/hotel/double/mob-double-2-room-2x-min.jpg 2x
                "
                media="(max-width: 1023px)"
              />
              <img
                srcset="
                  ./img/hotel/double/mob-double-2-room-1x-min.jpg 1x,
                  ./img/hotel/double/mob-double-2-room-2x-min.jpg 2x
                "
                src="./img/hotel/double/mob-double-2-room-1x-min.jpg"
                alt="double-room"
                width="194"
                height="194"
                class="double-slider-img"
              />
            </picture>
          </li>
        </ul>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev h-double-prev">
          <svg width="32" height="32">
            <use href="./img/icons.svg#icon-arrow-left"></use>
          </svg>
        </div>
        <div class="swiper-button-next h-double-next">
          <svg width="32" height="32">
            <use href="./img/icons.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </div>
      <!-------- кнопки ---------->

      <ul class="hotel-double-btn-list">
        <li>
          <a href="./room_double.html" class="hotel-double-btn link"
            >Детальніше</a
          >
        </li>
        <li>
          <button
            class="hotel-double-btn js-open-modal"
            type="button"
            data-modal="3"
          >
            Переглянути ціни
          </button>
        </li>
      </ul>
    </div>

    <!-------------->
  </div>
</section>
